<div class="row">
    <div class="span4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="ocramius">Tweet</a> <g:plusone size="medium"></g:plusone>
    </div>
    <div class="span8">
        Found a typo? <a class="btn btn-info btn-small" target="_blank" href="https://github.com/Spea/spea.github.com/issues/new">Report an issue</a> or <a class="btn btn-success btn-small" target="_blank" href="https://github.com/Spea/spea.github.com/fork_select">fork and help</a>
    </div>
</div>
